<?xml version="1.0"?>
<config>    
  <sections>
    <payment>
      <groups>
        <paghiper translate="label" module="paghiper">
        <comment>
          <![CDATA[<p>Para utilizar o Boleto PagHiper, siga os passos abaixo:</p>
          <p>1) Acesse <a href="https://www.paghiper.com" target="_blank">paghiper.com</a> e cadastre-se.<br/>
          2) Certifique-se que a conta esteja verificada e válida na página de  <a href="https://www.paghiper.com/painel/detalhes-da-conta/" target="_blank">Detalhes da sua conta do PagHiper</a><br/>
          3) <a href="https://www.paghiper.com/painel/token/" target="_blank">Gere o Token</a> para receber notificações automáticas<br/></p>]]>
        </comment>
          <label>PagHiper</label>
          <sort_order>1000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <merchant_email translate="label">
                <label>E-mail cadastrado (Paghiper)</label>
                <frontend_type>text</frontend_type>
                <validate>validate-email</validate>
                <sort_order>0</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>0</show_in_store>
            </merchant_email>
            <title translate="label">
              <label>Título</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>1</sort_order>
            </title>
            <maturity_date translate="label">
              <label>Vencimento (De 1 à 7 dias)</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>2</sort_order>
            </maturity_date>
            <discount translate="label">
              <label>Desconto (%) - Ex.: 5.8</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
            </discount>
            <minimum_value translate="label">
              <label>Valor mínimo da compra para exibir a opção de Boleto Bancário</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>2</sort_order>
            </minimum_value>
            <trans_key translate="label">
                <label>Token</label>
                <frontend_type>text</frontend_type>
                <sort_order>0</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>0</show_in_store>
            </trans_key>
            <active translate="label">
              <label>PagHiper ativo</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>1</sort_order>
            </active>
            <order_status translate="label">
              <label>Status do pedido</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
            </order_status>
            <allowspecific translate="label">
              <label>Países Aplicavéis</label>
              <frontend_type>allowspecific</frontend_type>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>4</sort_order>
            </allowspecific>
            <specificcountry translate="label">
              <label>Método para países específicos</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>5</sort_order>
            </specificcountry>
          </fields>
        </paghiper>
      </groups>
    </payment>
  </sections>
</config>