<?xml version="1.0"?>
<config>
    <modules>
        <Foxsea_Paghiper>
            <version>1.0.1</version>
        </Foxsea_Paghiper>
    </modules>
    <global>
        <models>
            <foxsea_paghiper>
                <class>Foxsea_Paghiper_Model</class>
            </foxsea_paghiper>
        </models>
        <blocks>
            <foxsea_paghiper>
                <class>Foxsea_Paghiper_Block</class>
            </foxsea_paghiper>
        </blocks>
        <helpers>
            <foxsea_paghiper>
                <class>Foxsea_Paghiper_Helper</class>
            </foxsea_paghiper>
        </helpers>
    </global>
    <admin>
        <routers>
            <foxsea_paghiper>
                <use>admin</use>
                <args>
                    <module>Foxsea_Paghiper</module>
                    <frontName>paghiper</frontName>
                </args>
            </foxsea_paghiper>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <foxsea_paghiper>
                    <file>foxsea/paghiper/paghiper.xml</file>
                </foxsea_paghiper>
            </updates>
        </layout>
        <routers>
            <paghiper>
                <use>standard</use>
                <args>
                    <module>Foxsea_Paghiper</module>
                    <frontName>paghiper</frontName>
                </args>
            </paghiper>
        </routers>
    </frontend>

    <default>
        <payment>
            <foxsea_paghiper>
                <active>1</active>
                <title>Boleto bancário</title>
                <model>foxsea_paghiper/paymentMethod</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
            </foxsea_paghiper>
         </payment>
    </default>
</config>
